body {
  background: #fff;
}
input{
  margin-top:10px;
}
textarea{
  margin-top:10px;
}
button{
  margin-top:10px;
}
.span5{
  width:32.6%;
  height:35px;
  border:1px solid #ccc;
  border-radius:5px;
  line-height: none;
  padding-left: 10px;
}